header {
  position: relative;
  text-align: center;
  font-size: x-large;
  margin: 20px;
body {
  background
}
}
section {
  position: relative;
  width: 100%;
}
div{
  position: relative;
}
#column1 {
  float: left;
  width: 49%;
  background-color: aliceblue;
}
#column2 {
  float: left;
  width: 49%;
  background-color: aliceblue;
}
  footer {
  clear: both;
  postion: relative;
  z-index: 10
  height: 3em
  margin-top: -3em;
}
}
